.foo {
    background-color: #007682 ;
    padding: 10px;
}

#bar {
    margin: 10px;
}

#welcome {
    color: #FFFFFF;
    text-align: center;
}

.headButtons {
    display: flex;
}

.btn {
    background-color: #007682;
    color: #FFFFFF;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    flex: 1;
}